# Matemática para Ciencia de los Datos
# Trabajo Práctico 3

Profesor: Luis Alexánder Calvo Valverde 

Instituto Tecnológico de Costa Rica, 

Programa Ciencia de Datos

---

Fecha de entrega: Lunes 15 de Mayo del 2023, a más tardar a las 3:00 pm.

Medio de entrega: Por medio del TEC-Digital.

Entregables: Un archivo jupyter ( .IPYNB ). 

Estudiante(s):
1. **Marco Ferraro**

---

**Pregunta 1**



Se puede demostrar que para los vectores generadores de un subespacio $E=\textrm{espacioGenerado}\left\{ \vec{v}_{1},\vec{v}_{2},\ldots,\vec{v}_{m}\right\}$ , con $V=\left[\vec{v}_{1},\vec{v}_{2},\ldots,\vec{v}_{m}\right]$,con $\vec{v}_{m}\in\mathbb{R}^{n}$ si son ortonormales, la ecuación de la proyección de un vector $\vec{u}\in\mathbb{R}^{n}$ originalmente dada por:

$$\textrm{proy}\left(\vec{u};V\right)=\textrm{argmin}_{\vec{v}\in E}\left\Vert \vec{v}-\vec{u}\right\Vert _{2}=V\,\left(V^{T}V\right)^{-1}V^{T}\vec{u}$$

se puede reescribir como: 

$$\textrm{proy}\left(\vec{u};V\right)=\textrm{argmin}_{\vec{v}\in E}\left\Vert \vec{v}-\vec{u}\right\Vert _{2}=V\,V^{T}\vec{u}$$

con $V\in\mathbb{R}^{n\times m}$.

**1.1 (25 puntos)**

Utilizando numpy, proponga una matriz ortonormal de dimensiones 3x3, para ello utilice una fuente como "Proceso de ortonormalización de  Gram - Schmidt" (https://blog.nekomath.com/algebra-lineal-i-proceso-de-gram-schmidt/) para producir una matriz ortonormal a partir de una matriz que no es ni ortonormal ni ortogonal. 

Finalmente muestre en numpy que su matriz resultante es ortonormal ($V$).

Matriz original: 

\begin{pmatrix}
3 & 1\\
0 & 2 
\end{pmatrix}


Matriz ortonormalizada: 

\begin{pmatrix}
1 & 0\\
0 & 1
\end{pmatrix}

In [2]:
import numpy as np
import math


A = np.matrix([[1., 0], [0, 1]])


np.matmul(A.T, A)

matrix([[1., 0.],
        [0., 1.]])

**1.2 (15 puntos)**

Proponga un vector $\vec{u}$ y programe en numpy las operaciones algebraicas siguientes (tome $V$ del paso anterior).

$V\,\left(V^{T}V\right)^{-1}V^{T}\vec{u}$

y,

$V\,V^{T}\vec{u}$

In [3]:
from numpy.linalg import inv

b = [4, 9]

inv_mult = np.matmul(A.T, A)
inv_mult = inv(inv_mult)

proyec_1 = np.matmul(np.matmul(np.matmul(A, inv_mult), A.T), b)
proyec_1

matrix([[4., 9.]])

In [4]:
proyec_2 = np.matmul(np.matmul(A, A.T), b)

**1.3 (10 puntos)**

Programe en python para calcular el error de proyección obtenido para los casos del punto **1.2**.

In [5]:
from numpy import linalg as LA

def proyection_error(v, u):
    return abs(LA.norm(v) - LA.norm(u))


proyection_error(proyec_1, proyec_2)

0.0

---

**Pregunta 2 (10 puntos)**


Programe en python la función calculeDet2, que recibe como parámetro una matriz cuadrada de dimensiones 2x2, llamada M, y retorna el determinante de esa matriz. Usted debe programar las operaciones matemáticas necesarias, no utilizar una función tipo det para calcularla. Pruébela con dos matrices que Usted proponga.

def calculeDet2( M ):

In [6]:
def calculeDet2(M):
    diagonalUno = M[0][0] * M[1][1]
    diagonalDos = M[0][1] * M[1][0]

    return diagonalUno - diagonalDos

In [7]:
calculeDet2([[5, -3], [6, 4]])

38

---

**Pregunta 3 (10 puntos)**


Programe en python la función calculeDet3, que recibe como parámetro una matriz cuadrada de dimensiones 3x3, llamada M, y retorna el determinante de esa matriz. Usted debe programar las operaciones matemáticas necesarias, no utilizar una función de numpy tipo det para calcularla (sí puede usar función que programó en la **Pregunta 2**). Pruébela con dos matrices que Usted proponga.

def calculeDet3( M ):

In [8]:
def calculeDet3(M):
    comp1 = M[0][0] * calculeDet2([[M[1][1], M[1][2]], [M[2][1], M[2][2]]])
    comp2 = -1 * M[0][1] * calculeDet2([[M[1][0], M[1][2]], [M[2][0], M[2][2]]])
    comp3 = M[0][2] * calculeDet2([[M[1][0], M[1][1]], [M[2][0], M[2][1]]])

    return comp1 + comp2 + comp3

In [9]:
A = [[-2, 4, 5], [6, 7, -3], [3, 0, 2]]
B = [[1, 2, 1], [1, -3, 4], [-1, 0, -2]]

In [10]:
calculeDet3(A)

-217

In [11]:
np.linalg.det(A)

-217.00000000000003

In [12]:
calculeDet3(B)

-1

In [13]:
np.linalg.det(B)

-1.0000000000000009

---

**Pregunta 4 (15 puntos)**

Se tiene que:

$$\textrm{det}\left(A\,B\right)=\textrm{det}\left(A\right)\,\textrm{det}\left(B\right)$$

Proponga dos matrices de 4x4 ( $A$ e $B$) y programando en numpy muestre esta igualdad (puede usar de numpy las funciones det y la de multiplicar matrices).

In [14]:
A = [[4, 5, -2, 4], [0, -4, 2, 8], [9, -9, 3, 11], [1, 3, 9, 1]]
B = [[0, -9, -3, 1], [8, 6, -3, 5], [5, 5, 1, -4], [-7, 3, -3, -4]]


print(f"det(AB) = {np.linalg.det(np.matmul(A, B)): .2f}")
print(f"det(A)det(B) = {(np.linalg.det(A)) * (np.linalg.det(B)): .2f}")

det(AB) =  24876096.00
det(A)det(B) =  24876096.00

---

**Pregunta 5 (15 puntos)**


Utilizando el archivo "Dataset_usar.csv", haga:
- Cargue el archivo.
- Muestre cuántas filas por cuántas columnas tiene el conjunto de datos.
- Utilizando el modelo $Ax=b$
    - Conforme la matriz $A$ con todas las columnas menos la última de la derecha.
    - Conforme el vector $b$ con la última columna de la derecha.
    - Calcule el vector de pesos ($x$), utilizando el concepto de mínimos cuadrados $\left(A^{T}A\right)^{-1}A^{T}\vec{b}$
    - Calcule un b_estimado con $A$ e $x$
    - Calcule la norma 2 de la diferencia entre b y b_estimado.
    - Grafique b y b_estimado.

In [15]:
import pandas as pd

df = pd.read_csv("Dataset_usar.csv", sep=';')

df

,bias,Length,Diameter,Height,Whole,Shucked,Sex_Female,Sex_Masculine,Shellweight
0,1,0.186567,0.155963,0.195652,0.011688,0.333333,0,1,0.0100
1,1,0.813433,0.761468,0.826087,0.433327,0.333333,1,0,0.4350
2,1,0.410448,0.376147,0.369565,0.074022,0.333333,1,0,0.0680
3,1,0.537313,0.504587,0.500000,0.143085,0.333333,1,0,0.0960
4,1,0.507463,0.495413,0.565217,0.146981,0.333333,0,1,0.1440
...,...,...,...,...,...,...,...,...,...
993,1,0.261194,0.247706,0.217391,0.026386,0.333333,1,0,0.0245
994,1,0.514925,0.495413,0.456522,0.101470,0.333333,0,1,0.1135
995,1,0.432836,0.440367,0.369565,0.087834,0.333333,1,0,0.0800
996,1,0.574627,0.596330,0.543478,0.170002,0.333333,0,1,0.1450
997,1,0.880597,0.889908,0.717391,0.476359,0.333333,0,1,0.4150

In [16]:
df.shape

(998, 9)

In [17]:
b = df['Shellweight']

b

0      0.0100
1      0.4350
2      0.0680
3      0.0960
4      0.1440
        ...
993    0.0245
994    0.1135
995    0.0800
996    0.1450
997    0.4150
Name: Shellweight, Length: 998, dtype: float64

In [18]:
A = df.drop(df.columns[-1], axis=1)

A

,bias,Length,Diameter,Height,Whole,Shucked,Sex_Female,Sex_Masculine
0,1,0.186567,0.155963,0.195652,0.011688,0.333333,0,1
1,1,0.813433,0.761468,0.826087,0.433327,0.333333,1,0
2,1,0.410448,0.376147,0.369565,0.074022,0.333333,1,0
3,1,0.537313,0.504587,0.500000,0.143085,0.333333,1,0
4,1,0.507463,0.495413,0.565217,0.146981,0.333333,0,1
...,...,...,...,...,...,...,...,...
993,1,0.261194,0.247706,0.217391,0.026386,0.333333,1,0
994,1,0.514925,0.495413,0.456522,0.101470,0.333333,0,1
995,1,0.432836,0.440367,0.369565,0.087834,0.333333,1,0
996,1,0.574627,0.596330,0.543478,0.170002,0.333333,0,1
997,1,0.880597,0.889908,0.717391,0.476359,0.333333,0,1

In [23]:

weight =  np.linalg.inv(np.matmul(A.T, A))
weight = np.matmul(weight, A.T) * b

b_predict = np.matmul(A, weight)

print(A.shape)
print(weight.shape)
print(b.shape)

(998, 8)
(8, 998)
(998,)

C:\Users\Marco\AppData\Local\Temp\ipykernel_12344\2767780688.py:1: FutureWarning: Calling a ufunc on non-aligned DataFrames (or DataFrame/Series combination). Currently, the indices are ignored and the result takes the index/columns of the first DataFrame. In the future , the DataFrames/Series will be aligned before applying the ufunc.
Convert one of the arguments to a NumPy array (eg 'ufunc(df1, np.asarray(df2)') to keep the current behaviour, or align manually (eg 'df1, df2 = df1.align(df2)') before passing to the ufunc to obtain the future behaviour and silence this warning.
  weight =  np.linalg.inv(np.matmul(A.T, A))
C:\Users\Marco\AppData\Local\Temp\ipykernel_12344\2767780688.py:4: FutureWarning: Calling a ufunc on non-aligned DataFrames (or DataFrame/Series combination). Currently, the indices are ignored and the result takes the index/columns of the first DataFrame. In the future , the DataFrames/Series will be aligned before applying the ufunc.
Convert one of the arguments to a NumPy array (eg 'ufunc(df1, np.asarray(df2)') to keep the current behaviour, or align manually (eg 'df1, df2 = df1.align(df2)') before passing to the ufunc to obtain the future behaviour and silence this warning.
  b_predict = np.matmul(A, weight)

In [20]:
import matplotlib.pyplot as plt
import numpy as np

def plot_vectors(a, b, x_lim=30, y_lim=30, label_a='vector a', label_b='vector b'):
  # Create a plot
  plt.figure()

  # Plot the vectors as arrows
  plt.arrow(0, 0, a[0], a[1], head_width=0.05, head_length=0.05, color='b', label=label_a)
  plt.arrow(0, 0, b[0], b[1], head_width=0.05, head_length=0.05, color='r', label=label_b)

   

  # Set the x and y limits of the plot
  plt.xlim(-1 * x_lim, x_lim)
  plt.ylim(-1 * y_lim, y_lim)

  # Add a grid and legend
  plt.grid()
  plt.legend()

  # Show the plot
  plt.show()

In [21]:
b

0      0.0100
1      0.4350
2      0.0680
3      0.0960
4      0.1440
        ...
993    0.0245
994    0.1135
995    0.0800
996    0.1450
997    0.4150
Name: Shellweight, Length: 998, dtype: float64

In [22]:
b_predict

,0,1,2,3,4,5,6,7,8,9,...,988,989,990,991,992,993,994,995,996,997
0,0.000112,-0.000958,0.000289,0.000388,0.000835,0.000091,0.000128,-0.002171,-0.000227,-0.000939,...,0.000027,-0.000278,-0.000014,0.000098,-0.000203,0.000207,-0.000043,0.000047,-0.000186,-0.001674
1,-0.000044,0.004983,-0.000068,0.000310,0.000006,0.000168,-0.000166,-0.000363,0.000763,-0.000699,...,-0.000456,-0.000450,-0.000244,0.000899,0.002529,0.000012,-0.000458,-0.000365,-0.000659,-0.001040
2,0.000004,0.000129,0.000083,0.000300,0.000001,0.000142,-0.000053,-0.002417,0.000713,-0.000739,...,-0.000036,-0.000218,0.000267,0.000505,0.000339,0.000141,-0.000086,0.000002,-0.000236,-0.002845
3,-0.000026,0.000841,0.000036,0.000337,0.000051,0.000163,-0.000105,-0.002239,0.000918,-0.000768,...,-0.000042,-0.000073,0.000364,0.000568,0.000759,0.000086,-0.000067,-0.000048,-0.000162,-0.002465
4,0.000022,0.000448,0.000179,0.000553,0.001194,0.000212,-0.000027,-0.003019,0.000496,-0.001541,...,-0.000013,0.000276,0.000922,0.000221,0.000549,0.000049,0.000167,-0.000005,0.000313,-0.001091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,0.000043,-0.001121,0.000096,0.000168,-0.000129,-0.000017,0.000014,-0.002713,0.000331,-0.000424,...,-0.000028,-0.000339,0.000957,0.000324,-0.000283,0.000222,-0.000193,0.000106,-0.000255,-0.002756
994,0.000006,-0.001104,0.000161,0.000511,0.000874,0.000114,-0.000032,-0.001819,0.000655,-0.000622,...,0.000405,0.000545,0.000334,0.000116,0.000395,0.000041,0.000242,0.000036,0.000307,-0.000862
995,-0.000012,-0.001377,0.000008,0.000201,-0.000083,-0.000058,-0.000070,-0.002888,0.000743,-0.000266,...,0.000136,0.000132,0.001731,0.000278,-0.000081,0.000142,-0.000066,0.000135,0.000096,-0.002127
996,-0.000008,-0.001463,0.000080,0.000430,0.000910,-0.000042,-0.000056,-0.002490,0.000623,-0.000498,...,0.000370,0.000752,0.001908,-0.000023,0.000278,0.000032,0.000190,0.000110,0.000580,-0.000059
997,-0.000037,0.000480,-0.000110,0.000201,0.000194,-0.000371,-0.000108,0.001826,0.000409,0.001501,...,0.000537,0.000689,0.000994,0.000074,0.001966,-0.000028,-0.000306,-0.000159,-0.000046,0.002624