## Escuela de Ingeniería en Computación, ITCR 

## Aprendizaje automático

 
### Quiz 03


Profesora: María Auxiliadora Mora

Estudiante: Marco Ferraro Rodríguez

Medio de entrega: Por medio del TEC-Digital.

Entregables: Un archivo en Jupyter ( .IPYNB ). 

Modo de trabajo: Individual

---

Resumen: En el presente quiz se realizarán ejercicios para repasar algunos conceptos sobre proyectos de clasificación binaria utilizando Python y PyTorch.

---

### 1. Problema

#### 1.1 Datos 

https://www.kaggle.com/datasets/snap/amazon-fine-food-reviews

In [2]:
import pandas as pd

df = pd.read_csv('./data/Reviews.csv')

df.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

#### 1.2 Datos Faltantes

In [6]:
missing_values = df.isnull().sum()


print(missing_values)

Id                         0
ProductId                  0
UserId                     0
ProfileName               16
HelpfulnessNumerator       0
HelpfulnessDenominator     0
Score                      0
Time                       0
Summary                   27
Text                       0
dtype: int64

In [7]:
df = df.dropna()
missing_values = df.isnull().sum()

print(missing_values)

Id                        0
ProductId                 0
UserId                    0
ProfileName               0
HelpfulnessNumerator      0
HelpfulnessDenominator    0
Score                     0
Time                      0
Summary                   0
Text                      0
dtype: int64

In [10]:
y = df['Score']
X = df[['Text']]

X.shape

(568411, 1)

In [12]:
regular_expresion = r'[^A-Za-z0-9\s]'


X['Text'] = X['Text'].str.replace(r'[^A-Za-z0-9\s]', '')

X.head()

C:\Users\Marco\AppData\Local\Temp\ipykernel_1800\3676562090.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  X['Text'] = X['Text'].str.replace(r'[^A-Za-z0-9\s]', '')
C:\Users\Marco\AppData\Local\Temp\ipykernel_1800\3676562090.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Text'] = X['Text'].str.replace(r'[^A-Za-z0-9\s]', '')

                                                Text
0  I have bought several of the Vitality canned d...
1  Product arrived labeled as Jumbo Salted Peanut...
2  This is a confection that has been around a fe...
3  If you are looking for the secret ingredient i...
4  Great taffy at a great price  There was a wide...

In [13]:
X['Text'] = X['Text'].str.lower()

X.head()

C:\Users\Marco\AppData\Local\Temp\ipykernel_1800\733488383.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Text'] = X['Text'].str.lower()

                                                Text
0  i have bought several of the vitality canned d...
1  product arrived labeled as jumbo salted peanut...
2  this is a confection that has been around a fe...
3  if you are looking for the secret ingredient i...
4  great taffy at a great price  there was a wide...

In [14]:
import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

# Function to remove stop words from the 'Text' column
def remove_stop_words(text):
    return ' '.join([word for word in text.split() if word not in stop_words])

X['Text'] = X['Text'].apply(remove_stop_words)

X.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Marco\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.
C:\Users\Marco\AppData\Local\Temp\ipykernel_1800\3301990764.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Text'] = X['Text'].apply(remove_stop_words)

                                                Text
0  bought several vitality canned dog food produc...
1  product arrived labeled jumbo salted peanutsth...
2  confection around centuries light pillowy citr...
3  looking secret ingredient robitussin believe f...
4  great taffy great price wide assortment yummy ...